.rForm-background {
	background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
	background-size: cover;
	background-attachment: fixed;
	height: auto;
}
.rForm-paper {
	width: 80%;
	margin-left: 10%;
	height: auto;
	min-height: 100vh;
	padding: 1.5% 0;
}
.rForm-root {
	margin: 25px;
	margin-top: 50px;
	display: flex;
	padding: 0 2.5%;
	height: auto;
}
.rForm-form {
	margin-left: -70px;
	display: flex;
	height: auto;
}
.rForm-backBtn {
}

.rForm-ingredients {
	height: 60%;
	width: 105%;
}
.rForm-ingre {
	display: inline-flex;
	padding-bottom: 20px;
	padding-left: 20px;
	border-left: 0.5rem solid rgba(29, 40, 191, 0.4);
	margin-bottom: 1px;
}
.rForm-inst {
	display: flex;
	width: auto;
}
.rForm-inst span {
	font-size: 25;
	line-height: 100px;
}
.rForm-submit {
}

@media (max-width: 800px) {
	.rForm-background {
		background-image: none;
	}
	.rForm-paper {
		width: auto;
		margin-left: 0%;
		height: auto;
		padding: 1.5% 0;
	}
}
@media (max-width: 625px) {
	.rForm-form {
		scale: 0.8;
		margin-left: -25%;
	}
}
@media (max-width: 525px) {
	.rForm-form {
		width: 80%;
		margin-left: -25%;
	}
	.rForm-ingredients {
		scale: 0.8;
		margin-left: -15%;
	}
}
