.rb-root {
	margin: 0.8rem;
	margin-top: 5rem;
}
.rb-cards {
	display: inline-flex;
	margin: 0.8rem;
	transition: 0.5s;
}
.rb-cards #card-header:hover,
.rb-cards #card-img:hover {
	cursor: pointer;
}
.rb-cards:hover {
	scale: 1.1;
}
@media (max-width: 765px) {
	.rb-card-container {
		text-align: center;
	}
}
