.recipe-background {
	background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
	background-size: cover;
	background-attachment: fixed;
	height: auto;
}
.recipe-paper {
	width: 80%;
	margin-left: 10%;
	padding: 1.5% 0;
	height: auto;
	min-height: 100vh;
}
.recipe-root {
	margin: 25px;
	margin-top: 50px;
	display: flex;
	padding: 0 2.5%;
	height: auto;
}
.recipe-info img {
	height: 300px;
	width: 500px;
	margin-top: 25px;
	object-fit: cover;
}
.recipe-info,
.recipe-instNote {
	width: 50%;
	display: inline-block;
}
.recipe-info h1 {
	font-weight: 900;
	color: rgba(33, 32, 32, 0.863);
}
.recipe-serving,
.recipe-time {
	font-weight: 700;
	font-size: large;
}
.recipe-servingNum,
.recipe-timeNum {
	color: green;
}
.recipe-timing {
	margin-left: 8%;
}
.recipe-ingre,
.recipe-inst {
	font-size: 20px;
}
.recipe-inst {
	line-height: 40px;
}
.recipe-spacer {
	margin-bottom: 30px;
}
