.SIFP-background {
	background-image: url(./images/CookPhoto.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}
.SIFP-Paper {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	padding: 1.5rem;
	height: fit-content;
}
.SIFP-Paper h1 {
	font-size: larger;
}
.SIFP-Paper h2 {
	font-size: small;
}
.SIFP-Btns {
	margin-top: 10px;
}
@media (max-width: 450px) {
	.SIFP-Paper {
		width: 100%;
	}
}
